
<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      
        <targetz-list
          [targets]="targets"
          [taskId]="taskId">
        </targetz-list>

        <!--<div *ngIf="targets">
          targets LISTOS::
          {{ (targets) }}
        </div>-->

        <!--<targetz-list *ngIf="targets"
          [targets]="targets"
          [taskId]="taskId">
        </targetz-list>        -->

        <!--<targetz-list
          [targets]="targets"
          [taskId]="taskId">
        </targetz-list>-->
      
    </div> 
  </div>
</div>