<div class="widgets">

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      <p-tabView>


          <p-tabPanel header="nuevos PLANES">
            <years-component></years-component>
          </p-tabPanel>

          <!--<p-tabPanel header="los PLANES">
              <planzz-component></planzz-component>
          </p-tabPanel>-->

          <p-tabPanel header="tezt PLANES">
            PLANES-PLANES-PLANES-PLANES
          </p-tabPanel>
          
      </p-tabView>
    </div>
  </div>

</div>
