

<div>

  <div class="row">
    <div class="col-lg-12 col-md-12">


        <div [hidden]="!creatingPlan">

            <div class="row">
              <plan-creator
                (canceledPlanCreation)="cancelPlanCreation($event)"
                (savedPlanCreation)="savePlanCreation($event)">
              </plan-creator>
            </div>
        
                <!--<br>
                
                <div class="row">
                  <button 
                    (click)="creatingPlan = false;"
                    class="btn btn-warning btn-xs btn-icon">
                      <i class="ion-close-round"></i>
                      Cancel
                  </button>
                </div>         -->

        </div>
        

        <div [hidden]="creatingPlan">
            <!--bloque VISTA PLANES (years)-->

            <button
              (click)="createNewPlan()"
              class="btn btn-primary btn-xs btn-icon">
                <i class="ion-plus-round"></i>
                Create New Plan
            </button>


            <p-accordion>
              <p-accordionTab *ngFor="let year of years"
                [header]="year.name">

                  <plans-year
                    [plansEsteYear]="(planes | yearPlans:year)"
                    [goals]="goals"
                    [golesPlam]="golesPlam"
                    [targetsGoalPlan]="targetsGoalPlan"
                    [targets]="targets"
                        [targetsStructure]="targetsStructure">
                  </plans-year>            

              </p-accordionTab>
            </p-accordion>

        </div>
          


    </div>
  </div>

</div>

