

<div>


      <p-accordion>
        <p-accordionTab *ngFor="let editItem of _users"
          [header]="editItem.item.name ? editItem.item.name : 'New User'">  <!--[isOpen]="editItem.item.name ? false : true"-->
          
            <ba-card
              title="User's Info"
              baCardClass="with-scroll">
                <div class="col-lg-11 col-md-11">
                  <user-card
                    [hidden]="editItem.editing"
                    [user]="editItem.item">
                  </user-card>
                </div>
                <div class="col-lg-1 col-md-1">
                  <button
                    [hidden]="editItem.editing"
                    (click)="editItem.editing = true; aUserIsOnEditMode = true;"
                    class="btn btn-primary btn-xs btn-icon">
                      <i class="ion-edit"></i>
                      Edit
                  </button>
                </div>

                <div class="col-lg-12 col-md-12">
                  <user-editor
                    (saved)="onSaved(editItem, $event)"
                    (canceled)="onCanceled(editItem)"
                    [hidden]="!editItem.editing"
                    [user]="editItem.item">
                  </user-editor>
                </div>
            </ba-card>

            <!--<ba-card
              title="User's Users"
              baCardClass="with-scroll"
              [hidden]="!editItem.item.id"
              [hidden]="editItem.editing">
                EL HIJO para USER AQUI
            </ba-card>-->
        </p-accordionTab>
      </p-accordion>


      <button
        (click)="addUser2User()" 
        [disabled]="aUserIsOnEditMode" 
        class="btn btn-primary btn-xs btn-icon">
          <i class="ion-plus-round"></i>
          Add User
      </button>



</div>

